* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html {
  position: relative;
  min-height: 100%;
}
body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-image: url(../img/background.png);
	background-attachment: fixed;
	margin-bottom: 50px;
	position:absolute;
	font-family: "Roboto Light", "Roboto Thin", "Roboto Medium", "Roboto Regular";
	font-size: 12px;
	color: white;
	height: 100%;
	padding: 0px;
	text-transform: upperc 	ase;
	width: 100%;
}

.main{
	min-height: 100%;
	
}

/* Portrait layout (default) */
.app {
    background:url(../img/test.png) no-repeat center top; /* 215px x 95px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:120px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
 	

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
	background-position: left center;
	padding: 75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
	margin: -80px 0px 0px -198px;  /* offset vertical: half of image height */
									/* offset horizontal: half of image width and text area width */
    text-align:center;
	color: white;                                      
	}
	
	ul{
	position: absolute;             /* position in the center of the screen */
	padding: 95px 0px 75px 170px; 
	margin: 20px 0px 0px 280px;
	text-align:center;
	width: 290px;
	height:50px;
	user-select: none;
	
}
}

ul{
	position: absolute;             /* position in the center of the screen */
	padding:0px;
	left:47px; right:0;
    top:88%; bottom:0;
	text-align:center;
	width: 290px;
	height:50px;
	user-select: none;
	
}

li {
  display: inline-block;
  width: 60px;
  height: 50px;
  background: #1B4B77;
  font-size: 10px;
  text-align: center;
  line-height: 0.5em;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.slider {
  display: block;
  position: absolute;
  height: 3px;
  background: #4FC2E5;
  transition: all 0.3s;
}

/*Ripple effect for the menu system*/
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
  -webkit-animation: rippleDrop .6s linear;
  animation: rippleDrop .6s linear;
}

@-webkit-keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}

@keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
} /*End of ripple*/



h1 {
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	overflow: visible;
	padding: 0px;
	text-align: center;
	color: inherit;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



