html {
  position: relative;
  min-height: 100%;
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-image: url(../img/background.png);
	background-attachment: fixed;
	margin-bottom: 50px;
	position:absolute;
	font-family: "Roboto Light", "Roboto Thin", "Roboto Medium", "Roboto Regular";
	font-size: 12px;
	color: white;
	height: 100%;
	padding: 0px;
	text-transform: upperc 	ase;
	width: 100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/test.png) no-repeat center top; /* 215px x 95px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:120px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
.tab{
	background: #1B4B77;
	text-align:center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}